extends templates/layout.pug
block section
  li.navbar-item.mx-2: a.nav-link(href="#evt-list") ÉVÉNEMENTS
  li.navbar-item.mx-2: a.nav-link(href="#concept") CONCEPT
  li.navbar-item.mx-2: a.nav-link(href="#info") INFOS PRATIQUES
  li.navbar-item.mx-2: a.nav-link(href="#partenaires") PARTENAIRES
  

block section-sm
  li.navbar-item.mx-3: a.nav-link(href="#evt-list") ÉVÉNEMENTS
  li.navbar-item.mx-3: a.nav-link(href="#concept") CONCEPT
  li.navbar-item.mx-3: a.nav-link(href="#info") INFOS PRATIQUES
  li.navbar-item.mx-3: a.nav-link(href="#partenaires") PARTENAIRES
  

block body
  aside
    a(href="#top")
      i.fa.fa-arrow-circle-down.fa-rotate-180.fa-2x
      span.sr-only Retourner en haut de la page

  div.bg-dark.text-center.py-2: h1.my-0 Bienvenue à l'Eurêkafé
  header.container-fluid.px-0.py-4.bg-white
    div.row.px-0.mx-0
      div.col-12.col-lg-6.text-center
        p.h5.mb-0: b L'Eurêkafé, c'est le Café des Curiosités ! 
        p 140 m² d'étonnement en plein centre de Toulouse, où chacun peut s'émerveiller, s'informer autour des sciences, se détendre ou encore travailler dans un cadre convivial.
        img(src="/img/draw-evt-white.png" width="80%" height="auto")
        p.h5: b Venez éveiller votre curiosité !
      div.col-12.col-lg-6
        div.yt-container
          iframe.yt-video(src="https://www.youtube.com/embed/OI-R3M-lhN0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
      
      //- div.col.carousel.slide.px-0#carousel(data-ride="carousel")
      //-   ol.carousel-indicators
      //-     li.ts.d-none.d-lg-block(data-target="#carousel" data-slide-to="0" class="active")
      //-     li.ts.d-none.d-lg-block(data-target="#carousel" data-slide-to="1")
      //-     li.ts.d-none.d-lg-block(data-target="#carousel" data-slide-to="2")
      //-   div.carousel-inner
      //-     article.carousel-item.croc.active(style="background-image: url('/img/draw-evt-white.png');")
      //-       div.bottom-text: h1.h2.font-weight-bold Bienvenue à l'Eurêkafé !
      //-     article.carousel-item(style="background-image: url('/img/front.jpg');")
      //-       div.bottom-text: h1.h2.font-weight-bold Ouverture le 16 Avril !
      //-     article.carousel-item.cover(style="background-image:url('/img/lancement-sv.jpg');")
      //-       div.top-text
      //-         p.display-2.text-center Crowdfunding
      //-       div.mid-text
      //-         p.text-center.h2.my-2: span.bg-light &nbsp;Merci à tous pour vos dons, petits ou grands !&nbsp;
      //-         button.btn.dark.my-4(onclick="window.open('https://www.gofundme.com/eurekafe', '_blank')"): p.h2.m-0 Résultats
      //-     article.carousel-item.center.croc(style="background-image:url('/img/draw-atelier.jpg');")
          
      //-   a.carousel-control-prev.carousel-control-color(href="#carousel" role="button" data-slide="prev")
      //-     i.fa.fa-2x.fa-chevron-left(aria-hidden="true")
      //-     span.sr-only Previous
      //-   a.carousel-control-next.carousel-control-color(href="#carousel" role="button" data-slide="next")
      //-     i.fa.fa-2x.fa-chevron-right(aria-hidden="true")
      //-     span.sr-only Next

  if !error && events.length > 0
    section.container-fluid.px-3#evt-list
      div.row.text-center
        h2.h3.title.col.bg-dark.my-0.py-4 Événements à venir
    
      each val in events
        div.row.bg-white.p-2
          div.col.col-lg-8.offset-lg-2
            div(style="max-width: 150px;").mx-auto.float-md-left
              div.card.text-center.m-2.mr-md-3
                div.card-header.p-2.bg-dark: p.h5.my-0 #{val.day}
                div.card-body.p-2
                  h3.font-weight-bold.px-4.pt-1 #{val.dateOfMonth}
                  p.my-0.h4 #{val.month}
            div.pt-3
              h6.m-0: b  À #{val.time} - #{val.fromNow}:
              h4.m-0: a(href="https://www.facebook.com/events/" + val.link target="_blank"  rel="noopener") #{val.title}
                button.btn.btn-primary.py-0.px-2.ml-2.mb-2 plus de détails
              p #{val.desc}
  section.text-center.container-fluid#concept
    div.row
      h2.h3.title.col.bg-dark.my-0.py-4 Un lieu incontournable <br/> d'Éducation Populaire
    div.zigzag(style="background-image:url(" + "/img/shapes/d-tri.svg" + ");")
    article.row.bg-white#concept-detail.pt-5.pb-4
      div.col-12.col-md-2.offset-md-3
        p Pour faire des rencontres étonnantes
        object(data="/img/icons/hands.svg" alt="poignée de main" type="image/svg+xml" width="70px" height="70px") hands
      div.col-12.col-md-2
        div.container-fluid: div.row
          p.col-12.order-md-2 Pour discuter entre amis
          div.col-12.order-md-1: object(data="/img/icons/baloon.svg" alt="bulle de conversation" type="image/svg+xml" width="70px" height="70px") hands
      div.col-12.col-md-2
        p Pour travailler dans un cadre stimulant
        object(data="/img/icons/bulb.svg" alt="idée" type="image/svg+xml" width="70px" height="70px") hands
    div.row.bg-white.h-divider
    article.row.bg-white
      div.col
        h3.pt-3 Le Café des </br>Curiosités
        p Venez éveiller votre curiosité !
    div.row.bg-white.h-divider
    article.row.bg-white.py-3
      div.col: p.alt-font OUVERT 7/7
    div.zigzag(style="background-image:url(" + "/img/shapes/u-tri.svg" + ");")
  
  section.container-fluid.pt-4.bg-dark
    div.row.no-gutters#info
      article.col-12.col-xl-6.card.info-card
        div.card-body.bg-dark
          h2.h3.title.card-title.text-center Infos pratiques
          ul.list-group.list-group-flush.pl-3
            li.list-group-item.bg-dark.d-flex.flex-row.justify-content-center
              div: b Adresse :&nbsp;
              div
                div.pr-1 24 rue Léon Gambetta
                div 31000 Toulouse
            li.list-group-item.bg-dark.text-center.pb-3 #[b Courriel : ] contact@eurekafe.fr
            li.list-group-item.bg-dark.container.justify-content-around
              div.row
                div.col-12.col-md-6.mb-3.mb-md-0
                  div.py-3: b Horaires d'ouverture :
                  div.d-flex.flex-row
                    div
                      div Lundi : 
                      div Mardi :
                      div Mercredi :
                      div Jeudi :
                      div Vendredi :
                      div Samedi :
                      div Dimanche :&nbsp;
                    div
                      div 10h - 22h
                      div 10h - 22h
                      div 10h - 22h
                      div 10h - 22h
                      div 10h - 22h
                      div 11h - 22h
                      div 11h - 22h
                div.col-12.col-md-6
                  div.py-3: b Tarifs :
                  div.d-flex.flex-row
                    div
                      div 1<sup>ère</sup> heure :&nbsp;
                      div Ensuite :&nbsp;
                      div Journée :&nbsp;
                      div Semaine :&nbsp;
                      div Mois :
                    div
                      div 5€
                      div 3€ / heure
                      div 14€
                      div 60€
                      div 165€
      article.col-12.col-xl-6#map
        iframe(title="carte google" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBbhvb5Yqyf3LW-hgp5YvNoYSlGFxehS3g&q=Eurêkafé,Toulouse&zoom=17" allowfullscreen)

  section.text-center.container-fluid
    article.row.bg-light.no-gutters#activites
      div.col: div.container.bubble-container
        div.row.pb-4
          div.col-12.col-md-6.align-self-center
            p.h3 Faites comme chez vous...
            img#pantoufle(data-src="/img/icons/shoes.png" alt="pantoufle")
          div.col-12.col-md-6.pt-3.pt-lg-0.px-0.px-sm-3
            div.container.px-0.px-sm-3
              div.row.no-gutters
                div.col-3.col-md-6.col-lg-3
                  img(data-src="/img/icons/wifi.png" alt="wifi")
                  p WIFI </br>Haut-débit
                div.col-3.col-md-6.col-lg-3
                  img(data-src="/img/icons/blackboard.png" alt="tableau noir")
                  p.middle Tableau
                div.col-6.col-md-12.col-lg-6
                  div.d-flex.flex-row.justify-content-center
                    img.pr-4(data-src="/img/icons/biscuit-cake.png" alt="biscuit et gateau")
                    img.pr-3(data-src="/img/icons/apple.png" alt="pomme")
                  p.middle Snacks et biscuits
                div.col-3.col-md-6.col-lg-3
                  img(data-src="/img/icons/copy.png" alt="imprimante")
                  p.middle Imprimante
                div.col-3.col-md-6.col-lg-3
                  img(data-src="/img/icons/projo.png" alt="video-projecteur")
                  p.middle Projecteur
                div.col-3.col-md-6.col-lg-3.pr-0
                  img(data-src="/img/icons/cup-glass.png" alt="tasse et verre")
                  p.middle Boissons
                div.col-3.col-md-6.col-lg-3.pl-0
                  img(data-src="/img/icons/dice.png" alt="dé")
                  p.middle Jeux
        div.row.pb-3.pb-lg-0
          div.col-12.col-md-6.col-lg-4.px-0.px-sm-3
            div.container.px-0.px-sm-3
              div.row.no-gutters
                div.col-3.col-md-6
                  img(data-src="/img/icons/presentation.png" alt="presentation")
                  p Conférences </br>canapé
                div.col-3.col-md-6
                  img(data-src="/img/icons/newspaper.png" alt="journal")
                  p Actualités </br>scientifiques
                div.col-3.col-md-6
                  img(data-src="/img/icons/book.png" alt="livre ouvert")
                  p.middle Magazines
                div.col-3.col-md-6
                  img(data-src="/img/icons/gear-house.png" alt="maison des idées")
                  p Environnement </br>interactif
          div.col-12.col-md-6.col-lg-8.align-self-center
            p.h3 ... et étanchez votre soif de curiosité !
    div.row.bg-light: div.col: div.h-divider
    section.row.bg-light
      div.col-12.col-md-5.offset-md-2.text-center.text-xl-right: p.alt-font.my-3 Besoin d'en profiter à plusieurs ?
      div.col-12.col-md-2.align-self-center
        button.btn.btn-primary.ml-md-3(type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="Deux salles de 6 et 8 places (avec écran et prises ethernet) sont disponibles. Elles sont à la disposition de tous. Néanmoins, vous pouvez les réserver en nous contactant à contact@eurekafe.fr (Un frais de réservation vous sera demandé le jour même).") Réserver une salle
    div.row.bg-light: div.col: div.h-divider
    div.row.bg-light: div.col: div.container.bubble-container
      div.row: div.col
        p.h3.pb-3 Vous ne payez que le temps passé chez nous !
        img.py-3#tarif-img(data-src="/img/Tarifs.png" alt="tableau des tarifs")

  //- section.text-center.container-fluid#evenements
  //-   div.row
  //-     div.col.bg-dark
  //-         h2.h3.title.m-4 Événements 
  //-   div.row.py-5#evenements-content
  //-     div.container-fluid
  //-       div.row
  //-         div.col-md-4.order-md-4.col-lg-6.order-lg-1.py-md-5.mb-lg-5
  //-           article.d-flex.flex-column.justify-content-center(style="height:100%;")
  //-             p.h4 Ateliers pour enfants
  //-             p.alt-font mercredi/WE
  //-             p Des ateliers seront proposés pour les plus jeunes : construction de fusées à eau, extraction d'ADN de banane, découverte des propriétés de la lumière ...
  //-         div.col-md-4.order-md-1.col-lg-6.order-lg-2.mb-3.mb-md-0.mb-lg-5.bg-img(bg-src="/img/atelier-science-animation.jpg")
  //-         div.col-md-4.order-md-5.col-lg-6.order-lg-4.py-md-5.mb-lg-5
  //-           article.d-flex.flex-column.justify-content-center(style="height:100%;")
  //-             p.h4 Conférences-Canapé
  //-             p.alt-font Tous les Samedis
  //-             p Venez rencontrer un chercheur, une ingénieure, un auteur, des personnalités. #[b Vous pourrez voter pour choisir nos invités !]
  //-         div.col-md-4.order-md-2.col-lg-6.order-lg-3.mb-3.mb-md-0.mb-lg-5.bg-img(bg-src="/img/draw-evt-white.png")
  //-         div.col-md-4.order-md-6.col-lg-6.order-lg-5.py-md-5
  //-           article.d-flex.flex-column.justify-content-center(style="height:100%;")
  //-             p.h4 Expériences étonnantes
  //-             p.alt-font A TOUS MOMENTS !
  //-             p Quelle que soit l'heure ou le jour, vous pourriez tomber sur des démonstrations de phénomènes étranges et impressionnants !
  //-         div.col-md-4.order-md-3.col-lg-6.order-lg-6.bg-img
  //-           div.round-bg(bg-src="/img/experience.gif")

  section.container-fluid.text-center#partenaires
    div.row
      div.col.bg-dark
          h2.h3.title.text-center.m-4 Partenaires 
    div.row.bg-dark.pb-5
      article.container-fluid#partenaires-list
        div.row.partenaires-img
          div.col-6.col-sm-3: a(href="https://bigbangscience.fr" target="_blank"  rel="noopener")
            img(data-src="/img/partenaires/big-bang-science.png" alt="Big Bang Science")
          div.col-6.col-sm-3: a(href="https://www.britishcouncil.fr/famelab" target="_blank" rel="noopener")
            img(data-src="/img/partenaires/famelab-france.png" alt="Famelab France")
          div.col-6.col-sm-3: a(href="https://www.podcastscience.fm" target="_blank" rel="noopener")
            img(data-src="/img/partenaires/podcast-science.png" alt="Podcast Science")
          div.col-6.col-sm-3: a(href="https://pintofscience.fr/" target="_blank" rel="noopener")
            img(data-src="/img/partenaires/pint-of-science.png" alt="Pint of Science")
          div.col-6.col-sm-3: a(href="http://www.cafe-sciences.org/" target="_blank" rel="noopener")
            img(data-src="/img/partenaires/café-des-sciences.jpg" alt="Café des Sciences")
          div.col-6.col-sm-3: a(href="http://www.science-animation.org/" target="_blank" rel="noopener")
            img(data-src="/img/partenaires/science-animation.png" alt="Science Animation")
          div.col-6.col-sm-3: a(href="http://www.quaidessavoirs.fr/" target="_blank" rel="noopener")
            img(data-src="/img/partenaires/quai-des-savoirs.jpg" alt="Quai des Savoirs")
          div.col-6.col-sm-3: a(href="https://www.accelerateurdelamobilisation.org/" target="_blank" rel="noopener")
            img(data-src="/img/partenaires/accelerateur-de-la-mobilisation.png" alt="Accelerateur de la Mobilisation")
    div.row
      div.col.bg-dark
        h2.h3.title.text-center.m-4 Ils parlent de nous :
    div.row.bg-dark.pb-5
      article.container-fluid#press-list
        div.row.partenaires-img
          div.col-6.col-sm-4: a(href="https://www.francebleu.fr" target="_blank"  rel="noopener")
            img(data-src="/img/press/france-bleu.png" alt="France Bleu")
          div.col-6.col-sm-4: a(href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.franceinter.fr%2Femissions%2Fle-journal-de-7h%2Fle-journal-de-7h-15-mai-2018&h=ATMjSOQLE59yJs5bXdtvVqO_36eGcvhOCrjvhVEp7JVNX1XLA--L46JVmc7mkjy6THsM9ycgSubxCqjm6e4RI9MUAoEw7uNR6re6W5oyHq7_BQs9hkKNaxrEhiE" target="_blank"  rel="noopener")
            img(data-src="/img/press/france-inter.png" alt="France Bleu")
          div.col-6.col-sm-4: a(href="http://www.actifsradio.fr" target="_blank" rel="noopener")
            img(data-src="/img/press/actifs-radio.png" alt="actifs radio")
          div.col-6.col-sm-4: a(href="http://www.funradio.fr" target="_blank" rel="noopener")
            img(data-src="/img/press/fun-radio.png" alt="fun radio")
          div.col-6.col-sm-4: a(href="https://www.latribune.fr" target="_blank" rel="noopener")
            img(data-src="/img/press/la-tribune-toulouse.png" alt="la tribune toulouse")
          div.col-6.col-sm-4: a(href="https://www.20minutes.fr" target="_blank" rel="noopener")
            img(data-src="/img/press/20-minutes.png" alt="20 minutes")
          div.col-6.col-sm-4: a(href="https://www.ladepeche.fr" target="_blank" rel="noopener")
            img(data-src="/img/press/la-depeche.jpg" alt="la depeche")
          div.col-6.col-sm-4: a(href="http://www.rtlgroup.com" target="_blank" rel="noopener")
            img(data-src="/img/press/rtl.jpg" alt="rtl")
          div.col-6.col-sm-4: a(href="http://www.toulouse.fm" target="_blank" rel="noopener")
            img(data-src="/img/press/toulouse-fm.png" alt="Toulouse FM")
          div.col-6.col-sm-4: a(href="https://actu.fr" target="_blank" rel="noopener")
            img(data-src="/img/press/actu-toulouse.png" alt="actu Toulouse")
    article.row#parallax-quote
      div.col 
        div.parallax-container
          div.text-body
            p.h3.d-block #[span.font-italic.font-weight-bold "L'Eurêkafé c'est super pour apprendre à vérifier ses sources !"] </br> - Charles Darwin -
          img.parallax(data-src="/img/darwin-dealwithit.jpg" alt="Darwin rebel")
    section.row.pt-4.bg-white.pb-4#citations
      div.container-fluid
        div.row.pb-4: h3.col-12 Ce que nos clients disent de nous :
        article.row
          div.col-12.col-sm-6.col-md-4.my-3.my-md-0
            div.balloon
              span Relativement interessant...
              span.tip
            div.pt-3: img.rounded-circle(data-src="/img/profil_pics/einstein-sym.jpg" alt="Alfred Einstein")
            div.py-2
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star-half-full
              i.fa.fa-lg.fa-star-o
          div.col-12.col-sm-6.col-md-4.my-3.my-sm-0
            div.balloon
              span Un accueil radieux!
              span.tip
            div.pt-3: img.rounded-circle(data-src="/img/profil_pics/marie-curie.jpg"  alt="Marie Curie")
            div.py-2
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
          div.col-12.col-sm-6.col-md-4.my-3.my-sm-0
            div.balloon
              span Des pommes de premier choix !
              span.tip
            div.pt-3: img.rounded-circle(data-src="/img/profil_pics/newton.jpg" alt="Isaac Newton")
            div.py-2
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star-half-full

