extends templates/layout.pug
block section
  li.navbar-item.mx-2: a.nav-link(href="#concept") CONCEPT
  li.navbar-item.mx-2: a.nav-link(href="#evenements") ÉVÉNEMENTS
  li.navbar-item.mx-2: a.nav-link(href="#partenaires") PARTENAIRES
  li.navbar-item.mx-2: a.nav-link(href="#info") INFOS PRATIQUES

block section-sm
  li.navbar-item.mx-3: a.nav-link(href="#concept") CONCEPT
  li.navbar-item.mx-3: a.nav-link(href="#evenements") ÉVÉNEMENTS
  li.navbar-item.mx-3: a.nav-link(href="#partenaires") PARTENAIRES
  li.navbar-item.mx-3: a.nav-link(href="#info") INFOS PRATIQUES

block body
  aside
    a(href="#carousel")
      i.fa.fa-arrow-circle-down.fa-rotate-180.fa-2x

  section.container-fluid.px-0
    div.row.px-0.mx-0
      div.col.carousel.slide.px-0#carousel(data-ride="carousel")
        ol.carousel-indicators
          li(data-target="#carousel" data-slide-to="0" class="active")
          li(data-target="#carousel" data-slide-to="1")
          li(data-target="#carousel" data-slide-to="2")
          li(data-target="#carousel" data-slide-to="3")
          li(data-target="#carousel" data-slide-to="4")
        div.carousel-inner
          article.carousel-item.cover.container-fluid.active.bg-black(style="background-image:url(" + require('./img/shop.png') + ");")
          article.carousel-item.bottom.croc(style="background-image:url(" + require('./img/draw-local-cave.jpg') + ");")
          article.carousel-item.cover(style="background-image:url(" + require('./img/lancement-sv.jpg') + ");")
            div.top-text
              p.display-2.text-center.dark Lancement du crowdfunding
            div.mid-text
              button.btn.dark(onclick="window.location.href='https://www.gofundme.com/eurekafe'"): p.h2 Participez!
          article.carousel-item.center.croc(style="background-image:url(" + require('./img/draw-atelier.jpg') + ");")
          article.carousel-item.center.croc(style="background-image: url(" + require('./img/draw-evt.jpg') + ");")
        a.carousel-control-prev(href="#carousel" role="button" data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Previous
        a.carousel-control-next(href="#carousel" role="button" data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Next

  section.text-center.container-fluid#concept
    div.row
      h3.col.bg-dark.my-0.py-4 Un lieu incontournable <br/> d'Éducation Populaire
    div.zigzag(style="background-image:url(" + require("./img/shapes/d-tri.svg") + ");")
    article.row.bg-white#concept-detail.pt-5.pb-4
      div.col-12.col-md-2.offset-md-3
        p Pour faire des rencontres étonnantes
        object(data=require("./img/icons/hands.svg") type="image/svg+xml" width="70px" height="70px") hands
      div.col-12.col-md-2
        div.container-fluid: div.row
          p.col-12.order-md-2 Pour discuter entre amis
          div.col-12.order-md-1: object(data=require("./img/icons/baloon.svg") type="image/svg+xml" width="70px" height="70px") hands
      div.col-12.col-md-2
        p Pour travailler dans un cadre stimulant
        object(data=require("./img/icons/bulb.svg") type="image/svg+xml" width="70px" height="70px") hands
    div.row.bg-white.h-divider
    article.row.bg-white
      div.col
        h3.pt-3 Le Café des </br>Curiosités
        p Venez éveiller votre curiosité !
    div.row.bg-white.h-divider
    article.row.bg-white.py-3
      div.col: p.alt-font OUVERT 7/7 de 9h à 22h
    div.zigzag(style="background-image:url(" + require("./img/shapes/u-tri.svg") + ");")
    
    article.row.bg-light.no-gutters#activites
      div.col: div.container.bubble-container
        div.row.pb-4
          div.col-12.col-md-6.align-self-center
            p.h3 Faites comme chez vous...
            img#pantoufle(src=require("./img/icons/shoes.png"))
          div.col-12.col-md-6.pt-3.pt-lg-0.px-0.px-sm-3
            div.container.px-0.px-sm-3
              div.row.no-gutters
                div.col-3.col-md-6.col-lg-3
                  img(src=require("./img/icons/wifi.png"))
                  p WIFI </br>Haut-débit
                div.col-3.col-md-6.col-lg-3
                  img(src=require("./img/icons/blackboard.png"))
                  p.middle Tableau
                div.col-6.col-md-12.col-lg-6
                  div.d-flex.flex-row.justify-content-center
                    img.pr-4(src=require("./img/icons/biscuit-cake.png"))
                    img.pr-3(src=require("./img/icons/apple.png"))
                  p.middle Snack et biscuit
                div.col-3.col-md-6.col-lg-3
                  img(src=require("./img/icons/copy.png"))
                  p.middle Imprimante
                div.col-3.col-md-6.col-lg-3
                  img(src=require("./img/icons/projo.png"))
                  p.middle Projecteur
                div.col-3.col-md-6.col-lg-3.pr-0
                  img(src=require("./img/icons/cup-glass.png"))
                  p.middle Boissons
                div.col-3.col-md-6.col-lg-3.pl-0
                  img(src=require("./img/icons/dice.png"))
                  p.middle Jeux
        div.row.pb-3.pb-lg-0
          div.col-12.col-md-6.col-lg-4.px-0.px-sm-3
            div.container.px-0.px-sm-3
              div.row.no-gutters
                div.col-3.col-md-6
                  img(src=require("./img/icons/presentation.png"))
                  p Conférences </br>canapé
                div.col-3.col-md-6
                  img(src=require("./img/icons/newspaper.png"))
                  p Actualités </br>scientifiques
                div.col-3.col-md-6
                  img(src=require("./img/icons/book.png"))
                  p.middle Magazines
                div.col-3.col-md-6
                  img(src=require("./img/icons/gear-house.png"))
                  p Environnement </br>interactif
          div.col-12.col-md-6.col-lg-8.align-self-center
            p.h3 ... et étanchez votre soif de curiosité !
    div.row.bg-light: div.col: div.h-divider
    section.row.bg-light
      div.col-12.col-md-5.offset-md-2.text-center.text-xl-right: p.alt-font.my-3 Besoin d'en profiter à plusieurs ?
      div.col-12.col-md-2.align-self-center
        button.btn.btn-primary.ml-3(type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") Réserver une salle
    div.row.bg-light: div.col: div.h-divider
    div.row.bg-light.pb-5: div.col: div.container.bubble-container
      div.row: div.col
        p.h3.pb-3 Vous ne payez que le temps passé chez nous !
        img.py-3#tarif-img(src=require("./img/Tarifs.png"))

    article.row#parallax-quote
      div.col 
        div.parallax-container
          div.d-block.text-body
            p.h3.d-block #[span.font-italic.font-weight-bold "L'Eurêkafé c'est super pour apprendre à vérifier ses sources !"] </br> - Charles Darwin -
          img.parallax(src=require("./img/darwin-dealwithit.png"))

    div.row.bg-light.py-5(style="height: 20px;")
  
  section.text-center.container-fluid#evenements
    div.row
      div.col.bg-dark
          h3.m-4 Événements 
    div.row#evt
      div.container-fluid
        div.row
          div.col.py-5
            article.d-flex.flex-column.justify-content-center(style="height:100%;")
              h4 EXPÉRIENCES AMUSANTES
              h5.cali tous les lundi
              p I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
              button.btn.btn-primary.d-block.mx-auto Jouli bouton
          div.col.bg-img(style="background-image:url(" + require("./img/science-stuff.webp") + ");")
        div.row
          div.col.bg-img(style="background-image:url(" + require("./img/dna.webp") + ");")
          div.col.py-5
            article.d-flex.flex-column.justify-content-center(style="height:100%;")
              h4.cali Les mardi...
              h5 rencontre avec...
              p I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
        div.row
          div.col.py-5
            article.d-flex.flex-column.justify-content-center(style="height:100%;")
              h4 atelier pour les enfants
              h6 tout les
              h5.cali Week-end et mercredi
              p I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.  
          div.col.bg-img(style="background-image:url(" + require("./img/colors.webp") + ");")

  section.container-fluid.text-center#partenaires
    div.row
      div.col.bg-dark
          h3.text-center.m-4 Partenaires 
    div.row.bg-dark.pb-5
      article.container-fluid#part-list
        div.row.partenaires-img
          div.col-6.col-sm-3: img(src=require("./img/partenaires/big-bang-science.png"))
          div.col-6.col-sm-3: img(src=require("./img/partenaires/famelab.png"))
          div.col-6.col-sm-3: img(src=require("./img/partenaires/podcast-science.png"))
          div.col-6.col-sm-3: img(src=require("./img/partenaires/pint-of-science.png"))
          div.col-6.col-sm-3: img(src=require("./img/partenaires/british-council.png"))
          div.col-6.col-sm-3: img(src=require("./img/partenaires/café-des-sciences.jpg"))
          div.col-6.col-sm-3: img(src=require("./img/partenaires/science-animation.png"))
          div.col-6.col-sm-3: img(src=require("./img/partenaires/quai-des-savoirs.jpg"))
          div.col-6.col-sm-3.hide: img(src=require("./img/partenaires/accelerateur-de-la-mobilisation.png"))



    section.row.pt-4.bg-white.pb-4#citations
      div.container-fluid
        div.row: h3.col-12 Ce que nos clients disent de nous
        article.row
          div.col-12.col-sm-6.col-md-4.my-3.my-md-0
            div.balloon
              span Relativement interessant...
              span.tip
            div.pt-3: img.rounded-circle(src=require("./img/profil_pics/einstein-sym.jpg"))
            div
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star-half-full
              i.fa.fa-lg.fa-star-o
          div.col-12.col-sm-6.col-md-4.my-3.my-sm-0
            div.balloon
              span Un accueil radieux!
              span.tip
            div.pt-3: img.rounded-circle(src=require("./img/profil_pics/marie-curie.jpg"))
            div
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
          div.col-12.col-sm-6.col-md-4.my-3.my-sm-0
            div.balloon
              span Des pommes de premier choix !
              span.tip
            div.pt-3: img.rounded-circle(src=require("./img/profil_pics/newton.jpg"))
            div
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star
              i.fa.fa-lg.fa-star-half-full

  section.container-fluid
    div.row.bg-light.no-gutters#info
      article.col-12.col-xl-6.card
        div.card-body.bg-light
          h3.card-title.text-center Infos pratiques
          ul.list-group.list-group-flush.pl-3
            li.list-group-item.bg-light.d-flex.flex-row.justify-content-center
              div: b Adresse :&nbsp;
              div
                div.pr-1 En plein centre ville
                div 31000
                div Toulouse
            li.list-group-item.bg-light.hide #[b Tel : ] 00.22.88.99.66 (prix d'un appel matinal)
            li.list-group-item.bg-light.text-center.pb-3 #[b Courriel : ] contact@eurekafe.fr
            li.list-group-item.bg-light.container.justify-content-around
              div.row
                div.col-12.col-md-6.col-lg-5.offset-lg-2.col-xl-6.offset-xl-1.mb-3.mb-md-0
                  div: b Horaires d'ouverture:
                  div.d-flex.flex-row
                    div
                      div Lundi : 
                      div Mardi :
                      div mercredi :
                      div Jeudi :
                      div Vendredi :
                      div Samedi :
                      div Dimanche :&nbsp;
                    div
                      div 9h - 22h
                      div 9h - 22h
                      div 9h - 22h
                      div 9h - 22h
                      div 9h - 22h
                      div 11h - 22h
                      div 11h - 22h
                div.col-12.col-md-6.col-lg-4
                  div: b Tarifs:
                  div.d-flex.flex-row
                    div
                      div Une heure :&nbsp;
                      div Jour complet :&nbsp;
                      div Semaine :
                      div Mois :
                    div
                      div 4€
                      div 14€
                      div 60€
                      div 165€
      article.col-12.col-xl-6#map
        iframe(frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBbhvb5Yqyf3LW-hgp5YvNoYSlGFxehS3g&center=43.602968,1.442261&zoom=16" allowfullscreen)

  section.container-fluid.hide#old
    section.row.no-gutters#concept-old
      h1.col-12.mb-0.p-2.p-md-4.text-center.bg-dark Un café pas comme les autres
      article.col-12.col-lg-6.bg-dark
        h3.px-5.my-md-3.text-center.cali Servi avec une bonne dose de science
        p.px-4.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      article.col-12.col-lg-6.bg-dark#pres-video
        div.padding
        iframe(src="https://www.youtube.com/embed/FavUpD_IjVY?rel=0" frameborder="0")
        div.padding

    section.row.pt-4.pb-3.text-center
      div.col: h3 Les Evenements
    section.row.pb-4#evt-old
      div.col-12.col-sm-6.col-lg-3.text-center.my-3.my-sm-0
        div.img-wrap: img(src=require("./img/famelab-evt.jpg"))
        div 3 dec
        div Rencontre avec les finalistes du concours FameLab - #[b 14h30]
      div.col-12.col-sm-6.col-lg-3.text-center.my-3.my-sm-0
        div.img-wrap: img(src=require("./img/chimie-evt.jpg"))
        div 15 dev
        div Animation petit chimiste - #[b 16h30]
      div.col-12.col-sm-6.col-lg-3.text-center.my-3.my-sm-0
        div.img-wrap: img(src=require("./img/drone-evt.jpg"))
        div 20 dec
        div Conférence: l'agriculture de demain - #[b 18h30]
      div.col-12.col-sm-6.col-lg-3.text-center.my-3.my-sm-0
        div.img-wrap: img(src=require("./img/biolu-evt.jpg"))
        div 35 dec
        div Ã la découverte de la bioluminéscence - #[b 20h00]
    
    section.row.bg-dark
      article.col.text-center.jumbotron.bg-dark#horaires
        h3.display-2.pb-4 Horaires d'ouverture:
        p.display-4 Tous les jours de #[b 9h à 22h !]
        p.display-5 Ouverture à #[b 11h pendant le weekend] (samedi et dimanche)
  
